extends ../layout/common

block content
  h1 Create new transaction

  form(action='/transactions/create', method='POST')
    label(for='user') Choose user:
    select(name='user')
      each user in users
        option(value=user.name)= user.name 
    label(for='books') Choose books:
    select(name='books', size='4', multiple='')
      each book in books
        option(value=book.title)= book.title 
    button Create

